<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina1</li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>
<h1>Sono la View per l'action index di HomeController</h1>    
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit nobis, impedit necessitatibus corrupti autem provident, at, laboriosam cum architecto sunt repellendus vel. Officia, tenetur animi veniam eius error tempore tempora.</p>
<p>Numquam fugiat quae sapiente inventore quos repellendus possimus, illum officia atque optio voluptas placeat saepe aspernatur veritatis harum est, nihil tenetur labore fuga dicta corporis rerum error dolores! Ipsum, illo.</p>
<p>Ullam dolorem vero ea placeat dicta fugiat alias corporis odio ratione facilis, itaque labore possimus beatae sed magni officia, atque minima ipsa dolorum mollitia tempora quaerat! Quae facilis autem rerum?</p>
<p>Error blanditiis fuga quidem rem aut illo voluptas odio neque, necessitatibus nesciunt esse non quos quas? Molestiae quae ea quasi illo labore dolorem perferendis, itaque quas optio expedita reiciendis deleniti.</p>
<p>Unde commodi iste veniam libero dolores voluptas! Placeat tempora eos quia. Voluptatem a facilis voluptates eveniet ullam fugiat iure tempora neque quia. Itaque quae, natus accusantium necessitatibus consequuntur voluptas suscipit.</p>

<footer>
    <p>Contattaci al numero...</p>
</footer>
</body>
</html>